Token Generation error on login.

The new changes are causing an error on logging in because tokens are not generating accordingly. 

`2025-04-15T00:13:11.487+03:00 ERROR 15076 --- [nio-8081-exec-3] payup.payup.jwt.JwtTokenUtil             : Error generating token: The specified key byte array is 192 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys#secretKeyFor(SignatureAlgorithm) method to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
2025-04-15T00:13:11.488+03:00 ERROR 15076 --- [nio-8081-exec-3] payup.payup.controller.AuthController    : Login error for email bob258@gmail.com: Error generating JWT token
`